@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,900&display=swap');

body {
    margin: 0;
}

:root {
    font-family: Nunito, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    --comment-width: 512px;
    --width: 75%;
    --article-margins: 16px;
    --article-font-size: 2rem;
}

.lights-on {
    background: #f2f2f2;
    color: #444;
    --nav-text-color: #222;
    --nav-background: #f2f2f2;
    --input-border-inactive: #2c3e5077;
    --input-border: #2c3e50;
    --icon-color: none;
    --text-color: #444;
    --text-color-invert: #bbb;
    --text-color-light: #666;
    --emphasis-red: #bb3b3c;
}

.lights-off {
    background: #222;
    color: #f2f2f2;
    --nav-text-color: #e2e2e2;
    --nav-background: #222;
    --input-border-inactive: #959ea777;
    --input-border: #959ea7;
    --icon-color: invert(100%);
    --text-color: #f2f2f2;
    --text-color-invert: #0d0d0d;
    --text-color-light: #999;
    --emphasis-red: #ff8b8f;
}

.highlight {
    font-weight: bold;
    color: var(--emphasis-red);
}

.article-data-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

@media (max-width: 1024px) {
    :root {
        --article-font-size: 1.5rem;
    }
}
@media (max-width: 768px) {
    :root {
        --article-font-size: 1.25rem;
    }
}
@media (max-width: 512px) {
    :root {
        --article-font-size: 1rem;
    }
    .article-data-row {
        flex-direction: column;
    }
}
@media (max-width: 320px) {
    :root {
        --article-font-size: 1rem;
    }
}

.navigation-text {
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    font-family: Nunito, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--nav-text-color);
}

.nav-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.75rem;
    filter: var(--icon-color);
}

.nav-button {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    margin: 0 0.75rem;
    border-radius: 8px;
    background: transparent;
    border: none;
    transition: all 300ms ease-in-out;
}

.nav-button:hover {
    background: #A0CA97;
    border-radius: 8px;
    box-shadow: 0 4px 8px 4px #A0CA9799;
    transform: scale(110%);
    transition: all 300ms ease-in-out;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    position: fixed;
    gap: 0.5rem;
    width: var(--width);
    background: var(--nav-background);
    top: 0;
    z-index: 999;
    margin: 0 auto;
    width: 100%;
}

main {
    width: clamp(256px, 80%, 1280px);
    margin: 0 auto;
}

.view {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

@media (max-width: 1024px) {
    .navigation-text {
        font-size: 1rem;
    }

    .nav-icon {
        width: 1rem;
        height: 1rem;
    }
}

@media (max-width: 768px) {
    :root {
        --width: 85%;
    }

    .navigation-text {
        font-size: 0.75rem;
    }

    .nav-icon {
        width: 1rem;
        height: 1rem;
        margin: 0 auto;
    }

    .nav-button {
        flex-direction: column;
    }
}

@media (max-width: 528px) {
    :root {
        --width: 94%;
        --comment-width: clamp(324px, 80%, 416px);
    }

    nav h1 {
        display: none;
    }

    .nav-button {
        padding: 0.25rem 0.5rem;
        margin: auto 0.5rem;
    }
}

@media (max-width: 360px) {
    :root {
        --width: 96%;
        --article-margins: 4px;
        --comment-width: clamp(256px, 90%, 324px);
    }

    .navigation-text {
        font-size: 0.5rem;
    }

    .nav-icon {
        width: 1rem;
        height: 1rem;
        margin: 0 auto;
    }

    .nav-button {
        padding: 0.25rem 0.5rem;
        margin: auto 0.25rem;
    }
}

@media (max-width: 280px) {
    :root {
        --width: 96%;
        --article-margins: 4px;
        --comment-width: clamp(192px, 90%, 252px);
    }
}

button {
    outline: none;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 256px;
    margin: 0 auto;
}

.login-label {
    text-align: left;
    font-size: 18px;
    transition: .2s;
}

.login-input {
    padding: 8px;
    background: transparent;
    margin-bottom: 24px;
    font-size: 16px;
    outline: none;
    border: 3px solid var(--input-border-inactive);
    border-radius: 8px;
    color: var(--text-color);
    transition: .3s;
}

.login-input:focus {
    border: 3px solid var(--input-border);
}

.login-submit {
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    border: 3px solid #42b983;
    margin-top: 16px;
    background: transparent;
    background-image: linear-gradient(#42b983, #42b983);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 0 100%;
    font-weight: bold;
    font-family: Nunito, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--nav-text-color);
    transition: all 0.2s linear;
}

.login-submit:hover {
    background-size: 100% 100%;
    color: white;
}

.login-button {
    border-radius: 8px;
    width: 144px;
    padding: 8px;
    margin: 16px auto;
    border: 3px solid #A0CA97;
    background-image: linear-gradient(#A0CA97, #A0CA97);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 0 100%;
    color: var(--text-color);
    transition: all 0.2s linear;
}

.login-button:hover {
    transform: scale(115%);
    background-size: 100% 100%;
    box-shadow: 0 0 16px 4px #A0CA97aa;
    color: #222;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.cancel-button {
    border-radius: 8px;
    width: 144px;
    padding: 8px;
    margin: 16px auto;
    border: 3px solid #F47B7F;
    background-image: linear-gradient(#F47B7F, #F47B7F);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 0 100%;
    color: var(--text-color);
    transition: all 0.3s linear;
}

.cancel-button:hover {
    transform: scale(115%);
    background-size: 100% 100%;
    box-shadow: 0 0 16px 4px #F47B7Faa;
}

.wa-form {
    display: flex;
    flex-direction: column;
    width: 384px;
    margin: 0 auto;
}

.wa-label {
    font-size: 18px;
    text-align: left;
    margin-top: 16px;
}

.wa-field-note {
    font-size: 12px;
    text-align: left;
    margin: 2px 0 4px 0;
}

.wa-input {
    padding: 8px;
    background: transparent;
    font-size: 14px;
    outline: none;
    border: 3px solid var(--input-border-inactive);
    color: var(--text-color);
    border-radius: 8px;
    transition: .3s;
}

.wa-input:focus {
    border: 3px solid var(--input-border);
}

.article-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    gap: 1.5rem;
    justify-items: center;
}

.news-block {
    display: block;
    width: 100%;
    transition: all 200ms ease-in-out;
}

.news-block:hover .news-title {
    text-decoration: 1px underline var(--text-color);
}

.comment-block {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: var(--comment-width);
    margin: 8px auto;
    padding: 8px;
    border: 2px solid var(--text-color);
}

.comment-reply-block {
    display: flex;
    flex-direction: column;
    border-left: 3px solid var(--text-color);
    background: var(--text-color-invert);
    text-align: left;
    padding: 4px 8px;
    margin: 4px auto;
    border-radius: 0 8px 8px 0;
    width: 95%;
}

.comment-reply-user {
    font-size: 12px;
    font-weight: bold;
    color: var(--text-color);
}

.comment-reply-title {
    font-size: 12px;
    color: var(--text-color);
    margin: 4px;
}

.comment-reply-content {
    font-size: 13px;
    margin: 4px;
}

@keyframes pulse {
    0% { background-color: #d3d3d3 }
    10% { background-color: #c6c6c6 }
    20% { background-color: #bababa }
    30% { background-color: #adadad }
    40% { background-color: #a1a1a1 }
    50% { background-color: #949494 }
    60% { background-color: #878787 }
    70% { background-color: #7b7b7b }
    80% { background-color: #6e6e6e }
    90% { background-color: #626262 }
    100% { background-color: #555 }
}

@keyframes bounce {
    0% { transform: scale(100%); }
    20% { transform: scale(120%); }
    40% { transform: scale(110%); }
    50% { transform: scale(115%); }
    60% { transform: scale(110%); }
    80% { transform: scale(120%); }
    100% { transform: scaleX(100%); }
}