:root {
    --width: 75%;
    --view-margin-top: 70px;
    --article-margins: 16px;
}

.navigation-text {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #222;
}

.nav-icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.view {
    display: flex;
    flex-direction: column;
    margin-top: var(--view-margin-top);
}

@media (max-width: 768px) {
    :root {
        --width: 80%;
        --view-margin-top: 63px;
        transform: scale(90%) translateY(-5%);
    }

    .navigation-text {
        display: none;
    }

    .nav-icon {
        margin-right: 0;
    }
}

@media (max-width: 500px) {
    :root {
        --width: 90%;
        --view-margin-top: 56px;
        transform: scale(80%) translateY(-13%) translateX(-17%);
    }
}

@media (max-width: 360px) {
    :root {
        --width: 100%;
        --view-margin-top: 52px;
        transform: scale(60%) translateY(-33%) translateX(-30%);
        --article-margins: 4px;
    }
}

@media (max-width: 280px) {
    :root {
        --width: 100%;
        --view-margin-top: 52px;
        transform: scale(50%) translateY(-50%) translateX(-40%);
        --article-margins: 4px;
    }
}

.container {
    width: var(--width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 256px;
    margin: 0 auto;
}

.login-label {
    text-align: left;
    font-size: 18px;
    transition: .2s;
}

.login-input {
    padding: 8px;
    background: transparent;
    margin-bottom: 24px;
    font-size: 16px;
    outline: none;
    border: 3px solid #2c3e5077;
    border-radius: 8px;
    transition: .3s;
}

.login-input:focus {
    border: 3px solid #2c3e50;
}

.login-submit {
    padding: 8px;
    font-size: 16px;
    border-radius: 16px;
    border: 3px solid #42b983;
    margin-top: 16px;
    background-image: linear-gradient(#42b983, #42b983);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: all 0.2s linear;
}

.login-submit:hover {
    background-size: 100% 100%;
    color: white;
}